

// .articledetails {
//     background-color: aqua;
// }

.articledetails {
    margin-top: 50px;
}

.articledetails h1 {
    font-family: 'Lora', serif;
    font-size: 300%;
    font-style: normal;
}

.articledetails p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 150%;
    overflow: hidden;
}

.article-body-div {
    margin-top: 40px;
}


@media screen and (max-width: 680px) {
    .row .col-3 {
        width: 10%;
    }

    .articledetails {
        width: 80%;
    }
}